bify {
    font-family: : Arial, sans-serif;
}

.btn {
    padding: 10px 40px;
    font-size: 10px;
    color: #fff;
    background-color: darkgreen;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition : all ease.3s;
}

.btn:hover {
    background-color: green;
}