.page-wrapper {
    background-color: #000000;
}

.logo-wrapper {
    position: fixed;
    top: 5px ;
    left: 100px;
    height: 100px;
    width: 100px;
    color: #ffffff;
}



.left-column {
flex: .5 0 0;
}


.grow {
    column-gap: 1px;
    /*background-color: cornflowerblue;*/
}

.bird-color{
    filter: invert(97%) sepia(0%) saturate(1%) hue-rotate(30deg) brightness(110%) contrast(101%);
}

.middle-column {
    background-color: deepskyblue;
    border-left: 20px;
    /*margin-left: 100px;*/
    /*color: cadetblue;*/
}

.explore {
    /*background-color: white;*/
    position: fixed;
    top: 5px ;
    left: 50px;
    filter: invert(97%) sepia(0%) saturate(1%) hue-rotate(30deg) brightness(110%) contrast(101%);
    width: 300px;
}

.right-column{
background-color: deepskyblue;
}

.settings {
    filter: invert(97%) sepia(0%) saturate(1%) hue-rotate(30deg) brightness(110%) contrast(101%);
}


.logo-wrapper1 {
    position: fixed;
    top: 80px ;
    left: 120px;
    width: 300px;
    filter: invert(97%) sepia(0%) saturate(1%) hue-rotate(30deg) brightness(110%) contrast(101%);
    color: white;
    display:flex;
    gap: 20px;
}

.logo-wrapper2 {
    filter: invert(97%) sepia(0%) saturate(1%) hue-rotate(30deg) brightness(110%) contrast(101%);
    color: white;
    display: flex;
    gap: 20px;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 120px ;
    left: 120px;
}
.logo-wrapper1:nth-child(1) {
    color:#FFF;
    height: 30px;
    width: 30px
}

.logo-wrapper3 {
    display:flex;
    filter: invert(97%) sepia(0%) saturate(1%) hue-rotate(30deg) brightness(110%) contrast(101%);
    height: 50px;
    color: #ffffff;
}


.headliner {
    filter: invert(97%) sepia(0%) saturate(1%) hue-rotate(30deg) brightness(110%) contrast(101%);
    position: fixed;
    top: 10px;
    left: 50px;
    width: 500PX;
    font-size: 20Px;
}